.topFixedBanner{
    background-image: url("../image/back_2.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.topBannerOverlay{
    position: absolute;
    min-height: 500px;
    width: 100%;
    background: rgba(0,0,0,.6);
}
.topContent{
    margin-top: 10em;
}
.topTitle{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 48px;
}
.topSubTitle{
    font-family: "Raleway",sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 24px;
}
.serviceCard{
    margin: 5px 5px 5px 5px;
    height: 20em;
    padding: 60px 30px 60px 30px;
    box-shadow: 0 0 4px 0 rgba(0,115,220,0.3);
}

.serviceCard:hover{
    box-shadow: 0 0 8px 0 rgba(0,115,220,0.4);
}
.serviceTitle{
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
    margin: 3rem 0 2rem 0;
    color: #4C9DED;
}
.serviceName{
    margin-top: 1.2rem;
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
    font-size: 22px;
}
.serviceDescription{
    color: #7E7E7E;
    margin-top: 1rem;
    font-family: "Montserrat",sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.navTitle{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #FFF !important;
}
.navTitleScroll{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #00F !important;
}